body {
    margin: 0;
    background-color: black;
    color: aliceblue;
}

h1 {
    color: rgb(255, 4, 4);

}

h2 {
    color:rgb(255, 4, 159);
}

h3 {
    color: blue;
}

p {
    color: red;
    font-size: 20px;
    line-height: 1.5;
}

.especial {
    color: rgb(111, 199, 39);
}

.especial2 {
    color:rgb(255, 149, 0);
}

.especial3 {
    color: rgb(0, 149, 255);
}

input,
textarea {
    padding: 6px;
    font-size: 16px;
    border: 2px solid rgb(255, 0, 0);
    margin-bottom: 10px;
    width: 250px;
}

label {
    display: block;
    margin-top: 10px;
}

html {
    scroll-behavior: smooth;
}




